[submodule "Campaign-monitor"]
	path = Campaign-monitor
	url = git://github.com/aakb/Campaign-monitor.git
[submodule "sites/all/modules/campaignmonitor"]
	path = sites/all/modules/campaignmonitor
	url = git://github.com/aakb/Campaign-monitor.git
