/*
  Tabs
*/

.tabs ul.primary {
  font-size: 75%;
  height: 24px;
  margin: 20px 15px;
}

.front .tabs ul.primary {
  margin: 20px 25px 0 0;
}

/*
  Blocks
*/

.page-admin-build-block #blocks {
  clear: both;
}