/* CSS: Brian Jensen @ www.magnify.dk */




/*
  Font, colors etc.
*/

/*
  Default
*/

body {
  font: 100%/150% Verdana, Arial, sans-serif;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

/*
  aaktopbar
*/

#aaktopbar a {
  color: #000;
  font: 12px Arial, Verdana, sans-serif;
  text-decoration: none;
}

#aaktopbar a:link, #aaktopbar a:visited {
}

#aaktopbar a:hover, #aaktopbar a:active {
  text-decoration: underline;
}

/*
  Generel elements
*/

h1#page-title {
  color: #3f3f3f;
  font: 225% Georgia, Times New Roman, Arial, sans-serif;
}

/*
  Mainmenu
*/

#main-menu {
  line-height: 250%;
}

#main-menu li.first {
  margin: 0 15px 0 30px;
}

#main-menu li {
  margin: 0 15px;
}

#main-menu a, #main-menu a:link, #main-menu a:visited {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0 #000;
}

#main-menu a:hover, #main-menu a:active {
  color: #ffdcb9;
}

#main-menu a.active, #main-menu a.active:hover {
  color: #fff;
  font-weight: bold;
}

/*
  Content
*/

#content {
  font-size: 75%;
  color: #726557;
}

/*
  Front specific
*/

.front .content p a.nodepicker-link {
  background: url('../gfx/sprites-icons.png') no-repeat 0 0;
  color: #f45000;
  font-size: 110%;
  font-weight: bold;
  padding: 3px 0 3px 30px;
  text-decoration: none;
}

.front .content p a.nodepicker-link:hover {
  color: #8d3205;
}

/*
  Spotboxes
*/

.block-nodeasblock .spotbox * {
  color: #fff;
  font-size: 90%;
  text-decoration: none;
}

.block-nodeasblock .spotbox .content {
  color: #726557;
  font-size: 90%;
  line-height: 135%;
}

.block-nodeasblock .spotbox .link a {
  color: #f45000;
  font-weight: bold;
}

.block-nodeasblock .spotbox .link a:hover {
  border-bottom: 1px dotted #e3c9bd;
  color: #8d3205;
}



















/*
  Layout
*/

/*
  Backgrounds
*/

html {
  height: 100%;
}

body {
  background: url('../gfx/backgrounds/urban-media-space-1.jpg') no-repeat center 80px;
  min-height: 100%;
}

/*
  Wrapper
*/

#wrapper {
  background: url('../gfx/body-background.png') no-repeat center 196px;
  left: 0;
  height: 900px;
  position: absolute;
  top: 0;
  width: 100%;
}

/*
  Grid styling
*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16 {
  margin: 0;
}

.container-12 .grid-3, .container-16 .grid-4 {
  width: 220px;
}

/*
  Context
*/

body.context-editing div.context-block-region div.context-block {
  opacity: 1;
}

body.context-editing .region.region-right .ui-sortable,
body.context-editing .region.region-content-top .ui-sortable
{
  background-color: #cccccc;
  border: 2px dashed #666666;
  border-radius: 4px;
  color: #666666;
  display: block !important;
  margin: 10px 0;
  opacity: 0.5;
  padding: 25px 0;
  z-index: 100;
}

body.context-editing .region .context-block {
  z-index: 150px;
}

/*
  Aarhus Kommune topbar
*/

#aaktopbar {
  background: #fff url('../gfx/aak-topbar-bg.gif') repeat-x top;
  border-bottom: 5px solid #dfdfdf;
  height: 75px;
}

#aaktopbar #block-block-1 {
  float: right;
  display: block;
  line-height: 425%;
}

#aaktopbar #block-block-2 {
  float: left;
  width: 103px;
}

/*
  Logo
*/

#branding {
  position: relative;
}

#logo {
  left: 10px;
  position: absolute;
  top: 30px;
}

#logo a {
  display: block;
}

/*
  Page
*/

#page {
  height: 100%;
  position: relative;
}

/*
  Mainmenu
*/

#main-menu {
  position: absolute;
  top: 125px;
}

#main-menu ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-menu ul.menu li {
  display: inline;
}

/*
  Main
*/

#main {
  background-color: #fff;
  margin: 0;
  min-height: 500px;
  padding: 10px;
  position: absolute;
  top: 165px;
  width: 940px;
}

/*
  Content
*/

#content {
  width: 720px;
}

/*
  Front specific
*/

.front #main {
   background: #fff url('../gfx/content-shadow-background.gif') no-repeat;
}
.front #content-inner {
  padding: 30px;
}



















/*
  Spotboxes
*/

.block-nodeasblock .spotbox {
  border: 1px solid #d3d3d3;
  padding: 4px;
  min-height: 185px;
  overflow: auto;
}

.block-nodeasblock .spotbox .title {
  background: #4f4e4e url('../gfx/sprites-gradient-bgs.png') repeat-x 0 0;
  line-height: 245%;
}

.block-nodeasblock .spotbox .title a {
  display: block;
  padding: 0 0 0 10px;
}

.block-nodeasblock .spotbox .image {
  line-height: 100%;
  margin: 4px 0;
}

.block-nodeasblock .spotbox .content {
  background: #fff url('../gfx/sprites-gradient-bgs.png') repeat-x 0 -190px;
  padding: 7px;
}

.block-nodeasblock .spotbox .link {
  background: url('../gfx/sprites-icons.png') no-repeat 0 -76px;
  float: right;
  margin: 1px 4px 0 0;
  padding: 1px 0 3px 20px;
}