/*!
 * Dynamic display block module template: urbanmediaspace - Cascading Style Sheet
 * (c) Copyright Phelsa Information Technology, 2009 - 2010. All rights reserved.
 * Version 1.2 (21-JUN-2010)
 * Licenced under GPL license 
 * http://www.gnu.org/licenses/gpl.html 
 */

div.views-slideshow-ddblock-cycle-urbanmediaspace {
  padding: 15px;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.container{
  background-color: #fff;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.container-inner {
  position: relative;
  z-index: 0;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slider-inner {
  background: transparent url(../images/transparent_bg.png) repeat scroll 0 0 !important;
  border: 2px solid #ff8c17;
  height: 266px;
  overflow: hidden;
  position: relative;
  visibility: hidden;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide{display:none;height:100%;left:0;position:absolute;top:0;}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-inner img {
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-text {
  background: url('../../../../gfx/carousel-transparent-bg.png');
  position: absolute;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-text-horizontal {
  left: 18px;
  width: 612px;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-text-vertical{height:303px;width:140px;}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-text-top {
  bottom: 18px;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-text-right{bottom:0;right:30px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-text-bottom{bottom:7px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-text-left{bottom:0;left:30px;}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-text-inner {
  background: url('../../../../gfx/sprites-icons.png') no-repeat 565px -265px;
  color: #d6d6d6;
  font-size: 75%;
  padding: 10px 15px;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-text-inner h2 {
  color: #fff;
  font-weight: bold;
  margin: 0 0 10px;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-title-vertical{width:130px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-title-inner{}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-body-vertical{width:132px;}


div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-body-inner{}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-body-inner p {
  margin: 0 8px 0 0;
  padding: 0 25px 0 0;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-body-inner li{float:left;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-body-inner a{color:#ffffff;}

/* Slide read more button */
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-read-more{width:110px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-read-more p{padding:0;margin:0;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-read-more a{background:url(../images/readmore.png) no-repeat;border:none;bottom:5px;color:#fff;font-size:14px;font-family:times New Roman;margin:0;padding:4px 0 4px 19px;position:absolute;text-decoration:none !important;text-align:left;width:100px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-read-more-horizontal a{right:-17px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-read-more-vertical a{right:5px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-read-more a:hover{background:url(../images/readmore-hover.png) no-repeat !important;text-decoration:underline;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-read-more-horizontal a:hover{right:-17px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.slide-read-more-vertical a:hover{right:5px;}

/* custom pager */
div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager {
  float: left;
  width: 261px;
}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager-inner {
  height: 50px;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager .custom-pager-item {
  display: block;
  border: 2px solid #3e3e3e;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager .custom-pager-item.active-pager-item {
  border: 2px solid #ff8c17;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager .custom-pager-item-inner {

}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager a {
  background-color: #3e3e3e;
  border: 1px solid #3e3e3e;
  border-bottom: 1px solid #7b7d7d;
  color: #dddddd;
  display: block;
  font-size: 75%;
  line-height: 100%;
  height: 62px;
  overflow: hidden;
  text-decoration: none;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager a.activeSlide {
  background: #ff9933 url('../../../../gfx/sprites-gradient-bgs.png') repeat-x 0 -725px;
  border: 1px solid #ff7a00;
  color: #fff;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager a img {
  float: left;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager a span.custom-pager-item-inner-teaser-wrapper {
  display: block;
  float: left;
  margin: 7px 0 7px 10px;
  width: 155px;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager a b {
  display: block;
  margin: 0 0 5px;
}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.custom-pager a span {
  font-size: 95%;
}

/*previous next pager */
div.views-slideshow-ddblock-cycle-urbanmediaspace div.prev-next-pager{clear:both;display:block;height:17px;left:0;position:relative;width:910px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.prev-next-pager a{background:#000;border:none;color:#fff;display:block;float:left;font-family:Tahoma,Arial,sans-serif;font-size:.8em;font-weight:bold;height:13px;line-height:13px;margin:0 2px 0 0;text-align:center;text-decoration:none !important;width:90px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.prev-next-pager a.prev{left:0;position:absolute;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.prev-next-pager a.count{left:178px;position:absolute;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.prev-next-pager a.next{position:absolute;right:0;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.prev-next-pager a.activeSlide{background:#000;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.prev-next-pager a:hover{outline:none;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.prev-next-pager a:focus{outline:none;}

/*previous next pager on the slide*/
div.views-slideshow-ddblock-cycle-urbanmediaspace div.views-slideshow-ddblock-prev-next-slide {left:0;position: absolute;top:110px;width:910px;z-index: 50;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.views-slideshow-ddblock-prev-next-slide a {color:#fff;display:block;height:50px;margin:0;padding:0;width:50px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.views-slideshow-ddblock-prev-next-slide a:focus{outline:none;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.next-container{float: right;height: 50px;opacity: 0.7;position: relative;width: 50px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.prev-container{float: left;height: 50px;opacity: 0.7;position: relative;width: 50px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.views-slideshow-ddblock-prev-next-slide a.next{background: url(../images/next.png) no-repeat;margin-left:-10px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.views-slideshow-ddblock-prev-next-slide a.prev{background: url(../images/prev.png) no-repeat;margin-left:10px;}

div.views-slideshow-ddblock-cycle-urbanmediaspace div.spacer-vertical{display:block;float:left;height:50px;width:5px;}
div.views-slideshow-ddblock-cycle-urbanmediaspace div.spacer-horizontal{clear:both;height:5px;}