#building-viewer-nav-wrapper {
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  margin: 0 34px 0 0;
  overflow: hidden;
  position: relative;
  top: 40px;
}

#building-viewer-nav-wrapper a,
#building-viewer-nav-wrapper a:link,
#building-viewer-nav-wrapper a:visited,
#building-viewer-nav-wrapper a:hover,
#building-viewer-nav-wrapper a:active {
  font-size: 90%;
  text-decoration: none;
}

#building-viewer-nav-wrapper ul {
  margin: 0;
}

#building-viewer-nav-wrapper ul li {
  border-right: 1px dotted #e5e5e5;
  float: left;
  list-style: none;
}

#building-viewer-nav-wrapper ul li a {
  border: 1px solid #fff;
  display: block;
  padding: 9px 20px 6px;
}

#building-viewer-nav-wrapper #building-viewer-nav li {
  background: #fff url('../gfx/sprites-gradient-bgs.png') repeat-x 0 -210px;
}

#building-viewer-nav-wrapper ul li:hover,
#building-viewer-nav-wrapper #building-viewer-nav li:hover {
  background: #faede0;
}

#building-viewer-nav-wrapper ul li.first {
  border-left: 1px dotted #e5e5e5;
}

#building-viewer-nav {
  float: left;
}

#building-viewer-menu {
  float: right;
}

#building-viewer-wrapper {
  clear: both;
  float: left;
  margin: 1px 0 0;
}

#building-viewer-nav-wrapper ul li.home a {
  background: url('../gfx/3dviewer/3dviewer-sprites.png') no-repeat -12px -93px;
  padding-left: 34px;
}

#building-viewer-nav-wrapper ul li.home a:hover {
  background-position: -12px -123px;
}

#building-viewer-nav-wrapper ul li.previous a {
  background: url('../gfx/3dviewer/3dviewer-sprites.png') no-repeat -12px -157px;
  padding-left: 34px;
}

#building-viewer-nav-wrapper ul li.previous a:hover {
  background-position: -12px -190px;
}

#building-viewer-nav-wrapper ul li.next a {
  background: url('../gfx/3dviewer/3dviewer-sprites.png') no-repeat right -223px;
  padding-right: 38px;
}

#building-viewer-nav-wrapper ul li.next a:hover {
  background-position: right -256px;
}