#building-viewer-outer-wrapper {
  overflow: hidden;
  position: relative;
}

#building-viewer-nav-wrapper {
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-right: 0;
  *height: 37px;
  overflow: hidden;
  margin: 0 40px 0 0;
  position: relative;
  z-index: 95;
}

#building-viewer-nav-wrapper a,
#building-viewer-nav-wrapper a:link,
#building-viewer-nav-wrapper a:visited,
#building-viewer-nav-wrapper a:hover,
#building-viewer-nav-wrapper a:active {
  font-size: 90%;
  text-decoration: none;
}

#building-viewer-nav-wrapper ul {
  margin: 0;
  width: 100%;
}

#building-viewer-nav-wrapper ul li {
  border-right: 1px dotted #e5e5e5;
  float: left;
  list-style: none;
}

#building-viewer-nav-wrapper ul li.align-right {
  float: right;
}

#building-viewer-nav-wrapper ul li a {
  border: 1px solid #fff;
  display: block;
  padding: 9px 20px 6px;
}

#building-viewer-nav-wrapper #building-viewer-nav li {
  background: #fff url('../gfx/sprites-gradient-bgs.png') repeat-x 0 -210px;
}

#building-viewer-nav-wrapper ul li:hover,
#building-viewer-nav-wrapper #building-viewer-nav li:hover {
  background: #faede0;
}

#building-viewer-nav-wrapper ul li.first {
  border-left: 1px dotted #e5e5e5;
}

#building-viewer-nav {
  float: left;
}

#building-viewer-menu {
  float: right;
}

#building-viewer-wrapper {
  clear: both;
  float: left;
  margin: 1px 0 0;
  position: relative;
  top: -40px;
}

#building-viewer-nav-wrapper ul li a {
  background: url('../gfx/3dviewer/3dviewer-sprites.png') no-repeat;
}

#building-viewer-nav-wrapper ul li.home a {
  background-position: -12px -93px;
  padding-left: 34px;
}

#building-viewer-nav-wrapper ul li.home a:hover {
  background-position: -12px -123px;
}

#building-viewer-nav-wrapper ul li.previous a {
  background-position: -12px -157px;
  padding-left: 34px;
}

#building-viewer-nav-wrapper ul li.previous a:hover {
  background-position: -12px -190px;
}

#building-viewer-nav-wrapper ul li.next a {
  background-position: right -223px;
  padding-right: 38px;
}

#building-viewer-nav-wrapper ul li.next a:hover {
  background-position: right -256px;
}

#building-viewer-nav-wrapper ul li.help {
  border-right: 0;
  border-left: 1px dotted #e5e5e5;
}

#building-viewer-nav-wrapper ul li.help a {
  background-position: -7px -394px;
  padding-left: 38px;
  padding-right: 16px;
}

#building-viewer-nav-wrapper ul li.help a:hover {
  background-position: -7px -436px;
}

#building-viewer-nav-wrapper ul li.menu {
  border-right: 0;
  border-left: 1px dotted #e5e5e5;
  float: right;
}

#building-viewer-nav-wrapper ul li.menu a {
  padding-left: 38px;
}

#building-viewer-nav-wrapper ul li.menu a:hover {
  background-position: -7px -508px;
}

#building-viewer-nav-wrapper ul li.tips a {
  background-position: -7px -612px;
  padding-left: 35px;
}

#building-viewer-nav-wrapper ul li.tips a:hover {
  background-position: -7px -646px;
}

#building-viewer-nav-wrapper ul li.info a {
  background-position: -7px -679px;
  padding-left: 35px;
}

#building-viewer-nav-wrapper ul li.info a:hover {
  background-position: -7px -713px;
}

#building-viewer-nav-wrapper ul li.download a {
  background-position: -5px -542px;
  border-left: 1px dotted #e5e5e5;
  padding-left: 43px;
}

#building-viewer-nav-wrapper ul li.download a:hover {
  background-position: -5px -577px;
}

.building-viewer-overlay,
#building-viewer-help {
  display: none;
  position: absolute;
}

.building-viewer-overlay {
  background-color: #000;
  cursor: pointer;
  height: 666px;
  left: 0px;
  top: 0;
  width: 940px;
  z-index: 96;
}

#building-viewer-help {
  background-color: #fff;
  left: 145px;
  top: 75px;
  width: 650px;
  z-index: 99;
}

#building-viewer-help-inner-wrapper {
  padding: 15px;
}

#building-viewer-point-title {
  background-color: #fff;
  bottom: 80px;
  left: 0;
  position: absolute;
}

#building-viewer-point-title a {
  background: url('../gfx/3dviewer/3dviewer-sprites.png') no-repeat right -300px;
  color: #f45000;
  display: block;
  font-size: 150%;
  padding: 10px 60px 10px 10px;
  text-decoration: none;
}

#building-viewer-point-information {
  background-color: #fff;
  left: 50px;
  position: absolute;
  top: 90px;
  width: 840px;
  z-index: 99;
}

#building-viewer-point-information li {
  list-style: inside square;
}

.building-viewer-close {
  background: url('../gfx/3dviewer/3dviewer-sprites.png') no-repeat -15px -360px;
  height: 22px;
  overflow: hidden;
  position: absolute;
  right: -8px;
  text-indent: -10000px;
  top: -8px;
  width: 23px;
  z-index: 100;
}

#building-viewer-point-information .node-point3d {
  overflow: auto;
  padding: 15px;
}

#building-viewer-point-information .node-point3d .field-field-3dpoint-image {
  float: left;
  margin: 0 10px 0 0;
}

#building-viewer-point-tip,
#building-viewer-overview-point-tip {
  position: absolute;
  z-index: 100;
}

#building-viewer-point-tip a,
#building-viewer-overview-point-tip a {
  display: block;
  height: 20px;
  overflow: hidden;
  outline: 0;
  text-indent: -10000px;
  width: 20px;
}