/*!
 * Dynamic display block module template: vsd-upright-30p - Cascading Style Sheet 
 * (c) Copyright Phelsa Information Technology, 2009 - 2010. All rights reserved.
 * Version 1.2 (21-JUN-2010)
 * Licenced under GPL license 
 * http://www.gnu.org/licenses/gpl.html 
 */
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.container{background-color:#fff;width:478px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.container-inner{height:367px;position:relative;z-index:0;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slider{float:left;width:478px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slider-inner{background:transparent url(../images/transparent_bg.png) repeat scroll 0 0!important;height:303px;overflow:hidden;position:relative;visibility:hidden;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide{display:none;height:100%;left:0;position:absolute;top:0;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-inner img{height:303px;margin:0 !important;padding:0 !important;width:478px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-text{background:transparent url(../images/transparent_bg.png) repeat scroll 0 0!important;position:absolute;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-text-horizontal{height:85px;left:0;width:478px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-text-vertical{height:303px;width:140px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-text-top{top:7px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-text-right{bottom:0;right:30px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-text-bottom{bottom:7px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-text-left{bottom:0;left:30px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-text-inner{padding:10px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-title{float:left;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-title-vertical{width:130px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-title-horizontal{float:left;width:100px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-title h2{margin:-5px 0 0 0;padding:0;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-title-inner{color:white;font-weight:bold;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-body-vertical{width:132px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-body-horizontal{float:left;width:355px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-body-inner{font-weight:bold;font-size:.8em;color:white;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-body-inner p{margin:0 8px 0 0;padding:0;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-body-inner li{float:left;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-body-inner a{color:#ffffff;}

/* Slide read more button */
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-read-more{width:110px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-read-more p{padding:0;margin:0;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-read-more a{background:url(../images/readmore.png) no-repeat;border:none;bottom:5px;color:#fff;font-size:14px;font-family:times New Roman;margin:0;padding:4px 0 4px 19px;position:absolute;text-decoration:none !important;text-align:left;width:100px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-read-more-horizontal a{right:-17px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-read-more-vertical a{right:5px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-read-more a:hover{background:url(../images/readmore-hover.png) no-repeat !important;text-decoration:underline;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-read-more-horizontal a:hover{right:-17px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.slide-read-more-vertical a:hover{right:5px;}

/* custom pager */
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.custom-pager{width:478px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.custom-pager-inner{height:59px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.custom-pager .custom-pager-item{float:left;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.custom-pager .custom-pager-item-inner{width:156px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.custom-pager a{background-color:#fff;color:#000;display:block;float:left;font-family:Tahoma,Arial,sans-serif;font-size:.9em;font-weight:bold;height:27px;line-height:27px;text-align:center;text-decoration:none !important;width:156px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.custom-pager a.activeSlide{background-color:#000;color:#fff;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.custom-pager a:hover{background:#111 !important;color:#f00;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.custom-pager a:focus{outline:none;}

/*previous next pager */
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.prev-next-pager{background:#000;clear:both;display:block;height:17px;left:0;position:relative;width:478px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.prev-next-pager a{background:#000;border:none;color:#fff;display:block;float:left;font-family:Tahoma,Arial,sans-serif;font-size:.8em;font-weight:bold;height:13px;line-height:13px;margin:0 2px 0 0;text-align:center;text-decoration:none !important;width:90px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.prev-next-pager a.prev{left:0;position:absolute;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.prev-next-pager a.count{left:178px;position:absolute;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.prev-next-pager a.next{position:absolute;right:0;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.prev-next-pager a.activeSlide{background:#000;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.prev-next-pager a:hover{background:#000 !important;outline:none;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.prev-next-pager a:focus{outline:none;}

/*previous next pager on the slide*/
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.views-slideshow-ddblock-prev-next-slide {left:0;position: absolute;top:110px;width:475px;z-index: 50;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.views-slideshow-ddblock-prev-next-slide a {color:#fff;display:block;height:50px;margin:0;padding:0;width:50px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.views-slideshow-ddblock-prev-next-slide a:focus{outline:none;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.next-container{float: right;height: 50px;opacity: 0.7;position: relative;width: 50px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.prev-container{float: left;height: 50px;opacity: 0.7;position: relative;width: 50px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.views-slideshow-ddblock-prev-next-slide a.next{background: url(../images/next.png) no-repeat;margin-left:-10px;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.views-slideshow-ddblock-prev-next-slide a.prev{background: url(../images/prev.png) no-repeat;margin-left:10px;}

div.views-slideshow-ddblock-cycle-vsd-upright-30p div.spacer-vertical{display:block;float:left;height:27px;width:5px;background-color:#ccc;}
div.views-slideshow-ddblock-cycle-vsd-upright-30p div.spacer-horizontal{clear:both;height:5px;background-color:#ccc;}